
/* SCHOOL FONT SETTINGS */
@font-face { font-family: 'SketchRockwell'; /*name to be used below*/ src: url('fonts/SketchRockwell.ttf'); /*URL to font*/ }

body {
 font-family: 'Roboto', Verdana, Helvetica, Sans-serif;
 background: #a3cef1;
 background-image: url("sprites/background.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
 margin-left: 0px; margin-right: 0px;
 overflow: auto;
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
}

study-crash-style {
 font-family: 'SketchRockwell';
 background: #a3cef1;
 background-image: url("sprites/background.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
 margin-left: 0px; margin-right: 0px;
 overflow: auto;
 -webkit-user-select: none; /* Safari */
 -ms-user-select: none; /* IE 10 and IE 11 */
 user-select: none; /* Standard syntax */
}


/* GAME STYLE SETTINGS */
game-style { margin: 0; overflow: hidden; background: #a3cef1; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
canvas { display: block; margin: auto; }

.controls {
 position: absolute;
 width: 100%;
 bottom: 120px;
 pointer-events: none;
}

.btn {
 width: 250px;
 height: 250px;
 font-size: 60px;
 background: rgba(0,0,0,0.3);
 color: white;
 border: none;
 border-radius: 50%;
 pointer-events: auto;
 touch-action: manipulation;
 position: absolute;
}

.soundtrack-btn {
 position: absolute;
 top: 30px;
 right: 32px;
 width: 100px;
 font-size: 2em;
 background: #E30B5CCC;
 color: #fff;
 border: 2px solid lightgray;
 border-radius: 12px;
 z-index: 10;
 padding: 14px;
 padding-bottom: 18px;
 cursor: pointer;
 touch-action: manipulation;
 box-shadow: none;
 outline: none;
}

.pause-btn {
 position: absolute;
 top: 120px;
 right: 32px;
 width: 100px;
 font-size: 2em;
 background: #666666CC;
 color: #fff;
 border: 2px solid lightgray;
 border-radius: 12px;
 z-index: 10;
 padding: 14px;
 padding-bottom: 18px;
 cursor: pointer;
 touch-action: manipulation;
 box-shadow: none;
 outline: none;
}

#leftBtn { left: 25px; bottom: 75px;  box-shadow: none; outline: none; }
#rightBtn { right: 25px; bottom: 75px;  box-shadow: none; outline: none; }

/* GAME STYLE SETTINGS */


body::-webkit-scrollbar { display: none; }

p	{color: white; font-size: 1.4em; text-shadow: 1px 1px 1px black;}
h1	{color: white; text-shadow: 1px 1px 1px black;}
a		{ text-decoration: none; color: cornflowerblue; cursor: pointer; text-shadow: 1px 1px 1px navy; }
a:hover		{ text-decoration: none; color: cornflowerblue; cursor: pointer; text-shadow: 1px 1px 12px navy; }
a:active	{ text-decoration: none; color: red; cursor: pointer; text-shadow: 1px 1px 12px corflowerblue; }
a:visited	{ color: cornflowerblue; text-shadow: 1px 1px 12px purple; }

div.start {
 position: absolute;
 left: 1%; right: 1%;
 top: 50%;
 transform: translateY(-50%);
 width: 85%;
 background-color: #151B54CC;
 text-align: center;
 font-size: 1.5em;
 color: white;
 border: 6px solid white;
 border-radius: 36px;	
 margin-left: auto;
 margin-right: auto;
 padding: 32px;
}

div.orange-banner {
 position: relative;
 width: max-content;
 background-color: orange;
 font-size: 1.6em;
 border: 3px solid yellow;
 border-radius: 12px;
 margin: auto;
 padding-left: 36px;
 padding-right: 36px;
}

div.raspberry-banner {
 background-color: #E30B5C /* Raspberry */;
 color: yellow;
 font-size: 2.8em;
 font-weight: bold;
 font-family: 'SketchRockwell';
 text-shadow: 1px 1px 6px navy;
 border: 3px solid yellow;
 border-radius: 24px;
 padding: 24px;
}

div.youWin {
 z-index: 1;
 position: absolute;
 left: 1%; right: 1%;
 top:50%;
 transform:translateY(-50%);
 width: 85%;
 background-color: #151B54CC;
 text-align: center; color: white;
 margin: auto;
 border: 6px solid white;
 border-radius: 32px;
 padding: 24px; 
}


/* START BUTTON */
div.studyStart { width: 50%; background-color: #008000AA /* Green */; font-size: 1.4em; text-align: center; margin: auto; margin-top: 12px; padding: 18px; border: 3px solid white; border-radius: 12px; cursor: pointer; }

div.studyStart:hover { color: yellow; background-color: #FF000066 /* Red: #FF0000 - Dark Red: #8B0000 */; outline: none; }

