
body {	font-family: 'Roboto', Verdana, Helvetica, Sans-serif;
	background-color: black;
	margin-left: 0px;
	margin-right: 0px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar { display: none; }

p	{color: white;}
h1	{color: white;}
a		{ color: cornflowerblue; text-decoration: none; cursor: pointer; }
a:hover		{ color: cornflowerblue; text-decoration: none; cursor: pointer; text-shadow: 1px 1px 12px red; }
a:active	{ color: red; text-decoration: none; cursor: pointer; text-shadow: 1px 1px 12px cornflowerblue; }
a:visited	{ color: cornflowerblue; text-shadow: 1px 1px 12px pink; }

.gradeScaleLinked { color: hotpink; text-decoration: none; cursor: pointer; font-size: smaller; }
.gradeScaleActive { color: cornflowerblue; text-decoration: none; cursor: pointer; font-size: larger; font-weight: bold; }

::placeholder {font-size: min(12px, 2vw); color: #33333366; opacity: 85; /* Firefox */ }
::-ms-input-placeholder { color: darkgray; /* Edge 12 -18 */}

ul	{ padding-left: 18px; }

.return { position: absolute; right: 12px; top: 6px; color: white; font-size: 20px; transition: 3s; }

* { box-sizing: border-box; }


/* MAIN DIV SETTINGS */

.main {
  margin: auto;
  background-color: #151B54; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, black, #151B54, #36013F);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 500% 100%;
  border: 1px solid navy;
  float: center;
  padding: 0px;
  width: 60%; /* The width is 60%, by default */
  border-radius: 24px;
  font-size: 16px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
.main {
  /* The width is 100%, when the viewport is 800px or smaller */ 
  position: absolute;
  top: 0px;
  width: 100%;
  border: 0px solid navy;
  border-radius: 0px;
  font-size: 14px;
  min-height: 100%;
  }
}


/* BUBBLE DIV ELEMENTS */

.labels { margin-left: 20px; margin-right: 20px; padding: 0px; padding-top: 12px; }

.referencias { color: white; margin-left: auto; margin-right: 50px; }

.grid-container-pages {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  row-gap: 16px;
  padding: 1px;
}

.grid-item-title {background-color: cornflowerblue; border: 1px solid lightgray; padding: 6px; text-align: center;}
.grid-item-blue {background-color: lightblue; border: 1px solid lightgray; padding: 6px; text-align: left; border-radius: 6px;}
.grid-item {background-color: lightyellow; border: 1px solid #6495ED /* Cornflower Blue */; padding: 6px; text-align: left; border-radius: 6px;}
.grid-item-green {background-color: lightgreen; border: 1px solid lightgray; padding: 6px; text-align: left; border-radius: 6px;}
.grid-item-pink {background-color: pink; border: 1px solid lightgray; padding: 6px; text-align: left; border-radius: 6px;}
.grid-item-gray {background-color: lightgray; border: 1px solid white; padding: 6px; text-align: left; border-radius: 6px;}



/* LICENCE DIV SETTINGS */
.grid-item-license {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}


/* TOOL PAGES DIV SETTINGS */

.grid-item-slider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}

.grid-item-tools {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}

.grid-item-results {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}

.grid-exam-results {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #151B54;
  border: 1px solid white;
  color: white;
  padding: 6px;
  padding-left: 18px;
  text-align: left;
  border-radius: 12px;
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .grid-item-slider {  width: 95%; }
  .grid-item-tools {  width: 90%; }
  .grid-item-results {  width: 75%; }
  .grid-exam-results {  width: 75%; }
}


/* TITLE MENU */
.titleMenu {
  width: 32px; height: 30px;
  font-size: 15px; color: white; font-weight: normal;
  background-color: #0096FF22; transition: background-color 0.6s;
  border: 1px solid #0096FF22; border-radius: 6px 6px 6px 6px;
  margin-top: -6px; margin-bottom: -6px; margin-right: 4px;
  padding-left: 8px; padding-top: 2px;
  appearance: none; /* Hides little arrow */
}

.titleMenu:hover { background-color: #0096FF88; color: white; outline: none; font-weight: bold;}
.titleMenu:active { background-color: #66AAFF; color: white; outline: none; font-weight: bold;}
.titleMenu:focus { background-color: #0096FF; color: white; outline: none; font-weight: bold; border-radius: 6px 6px 0px 0px;}


/* TEMPORIZADOR */


.temporizador {
  background: linear-gradient(to right, lightgreen 15%, lightgreen 0%, #FFF 50%, #FFF 100%);
  border: solid 1px lightblue;
  border-radius: 3px;
  width: 98%;
  height: 32px;
  outline: none;
  -webkit-appearance: none !important;
}

.temporizador::-webkit-slider-thumb {
  width: 0.5px;
  height: 28px;
  cursor: pointer;
  background: #666666aa;
  -webkit-appearance: none !important;
}


/* SCHEDULE SETTINGS */

.grid-schedule {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 30px auto auto auto auto auto auto;
  grid-template-areas:
    'top top top top top top top'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'div div div div div div div'
    'fin fin fin fin fin fin fin';
  gap: 0px;
  background-color: white;
  border: 2px solid navy;
  border-radius: 12px 12px;
  padding: 12px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.grid-schedule > div {
  font-size: 12px;
  text-align: center;
  font-family: Verdana, Tahoma;
  color: #1434A4; /* Egyptian Blue */
  padding: 1px;
  margin-right: -1px;
  border: 1px dashed darkgray;
  border-style: hidden dashed dashed dashed; /* top right bottom left */
  word-break: break-word;
}

.dropdown {
  position: absolute;
  left: 4%; top: -1px;
  width: 32px; height: 30px;
  font-size: 15px; color: white; font-weight: normal;
  background-color: #0F56A2DD; transition: background-color 0.6s;
  border: 1px solid lightgray; border-radius: 0px 0px 6px 6px;
  padding-left: 8px;
  appearance: none; /* Hides little arrow */
}

.dropdown:hover {background-color: #0096FF; font-weight: bold; outline: none;}
.dropdown:active {background-color: #00AAFF; font-weight: bold; outline: none;}
.dropdown:focus {background-color: #0096FF; font-weight: bold; outline: none; border-radius: 0px 0px 0px 0px;}

div.scheduleName { text-align: center; font-size: min(1em, 2.8vw); font-weight: bold; border-style: hidden hidden dashed hidden; }

div.blueDiv {background-color: #A7C7E7 /* Pastel Blue */; font-weight: bold; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase; white-space: nowrap; overflow: hidden; }
div.yellowDiv {background-color: lightyellow; font-weight: bold; padding-top: 8px;}

.scheduleArea {
 height: 65px; width: 100%; text-align: center;
 font-size: min(1em, 2vw);  font-family: Verdana, Tahoma; color: #005B9A;
 border: 0px; margin: 0px; margin-top: -1px; margin-bottom: -3px; padding: 1px;
 text-transform: capitalize; resize: none; overflow: hidden;
}

.scheduleArea:focus {outline: none !important; border-color: #719ECE; box-shadow: 0 0 10px #719ECE;}
.scheduleArea:hover {outline: none !important; border-color: #719ECE; box-shadow: 0 0 10px #719ECE;}

@supports (-moz-appearance:none) {
 .scheduleArea { margin-bottom: -1px; }
@media print {
 .scheduleArea { margin-bottom: 0px;}
 .grid-schedule { margin-bottom: 3px; border: 0px;}
 }
}


/* CURRICULUM SETTINGS */

.grid-curriculum {
  display: grid;
  grid-template-columns: 10% auto 30%;
  grid-template-areas:
    'select select select'
    'yearsLeft years yearsRight'
    'top0 top1 top2'
	
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1year 1class 1grade'
    '1this 1that 1average'

    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2year 2class 2grade'
    '2this 2that 2average'

    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3year 3class 3grade'
    '3this 3that 3average'

    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4year 4class 4grade'
    '4this 4that 4average'

    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5year 5class 5grade'
    '5this 5that 5average'

    'foot foot foot';
  gap: 0px;
  background-color: white;
  border: 2px solid navy;
  border-radius: 12px 12px;
  padding: 20px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 24px;
}

.grid-curriculum > div {
  height: 32px;
  font-size: 12px;
  text-align: center;
  font-family: Verdana, Tahoma;
  color: #1434A4; /* Egyptian Blue */
  padding: 1px;
  margin-right: -1px;
  border: 1px dashed gray;
  border-style: hidden dashed dashed dashed; /* top right bottom left */
  word-break: break-word;
}

button.Year { font-size: 11px; color: blue; text-align: center; text-decoration: none; background-color: #A7C7E788; border: 1px solid darkgray; border-radius: 6px; padding: 3px 6px 3px 6px; margin: 0px 1px 0px 1px; cursor: pointer; }
button.Year:hover {color: yellow; background-color: #FF0000AA; outline: none;}
button.Year:active {color: yellow; background-color: #FF0000AA; outline: none;}
button.Year:focus {color: yellow; background-color: #FF0000AA; outline: none;}

div.select {background-color: #FFF; border-style: hidden; margin-bottom: 6px;}
div.title {background-color: #A7C7E7 /* Pastel Blue */; font-weight: bold; padding-top: 8px; text-transform: uppercase; white-space: nowrap; overflow: hidden; border-style: dashed; /* top right bottom left */ }
div.first {background-color: #FFF; padding: 4px; text-transform: capitalize; white-space: nowrap; overflow: hidden; }
div.second {background-color: #FFF; padding: 4px; text-transform: capitalize; white-space: nowrap; overflow: hidden; }
div.third {background-color: #FFF; padding: 4px; text-transform: capitalize; white-space: nowrap; overflow: hidden; }
div.fourth {background-color: #FFF; padding: 4px; text-transform: capitalize; white-space: nowrap; overflow: hidden; }
div.fifth {background-color: #FFF; padding: 4px; text-transform: capitalize; white-space: nowrap; overflow: hidden; }

.className {height: 24px; width: 100%; text-align: center; font-size: 12px; font-family: Verdana, Tahoma; color: #1434A4; border: 0px; margin: 0px; padding: 0px; border-radius: 0px; resize: none; overflow: hidden; text-transform: capitalize;}
.className:focus {outline: none !important; border-color: #719ECE; box-shadow: 0 0 6px #719ECE;}
.className:hover {outline: none !important; border-color: #719ECE; box-shadow: 0 0 6px #719ECE;}

input[type=number].classGrade {height: 24px; width: 100%; text-align: center; font-size: 12px; font-family: Verdana, Tahoma; color: #1434A4; border: 0px; margin: 0px; padding: 0px; border-radius: 0px;}
input[type=number].classGrade:focus {outline: none !important; border-color: #719ECE; box-shadow: 0 0 6px #719ECE;}
input[type=number].classGrade:hover {outline: none !important; border-color: #719ECE; box-shadow: 0 0 6px #719ECE;}




/* AGENDA SETTINGS */

.grid-agenda {
  display: grid;
  grid-template-columns: 20% 10% auto auto;
  grid-template-areas:
    'theMonths theMonths theMonths theMonths'
    'select select select select'
    'top1 top2 top3 top4'

    /* WITHIN CELLS */
    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'

    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'

    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'

    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'

    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'
    'div div div div'

    'foot foot foot foot';
  gap: 0px;
  background-color: white;
  border: 2px solid navy;
  border-radius: 12px 12px;
  padding: 20px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 24px;
}

.grid-agenda > div {
  height: 32px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  text-align: center;
  font-family: Verdana, Tahoma;
  color: #1434A4; /* Egyptian Blue */
  padding: 1px; padding-top: 8px;
  margin-right: -1px;
  border: 1px dashed gray;
  border-style: hidden dashed dashed dashed; /* top right bottom left */
}

button.agendaMonth {font-size: 11px; color: blue; text-align: center; text-decoration: none; background-color: #A7C7E788; border: 1px solid darkgray; border-radius: 6px; padding: 3px 6px 3px 6px; margin: 0px 1px 0px 1px; cursor: pointer; }
button.agendaMonth:hover {color: yellow; background-color: #FF0000AA; outline: none;}
button.agendaMonth:active {color: yellow; background-color: #FF0000AA; outline: none;}
button.agendaMonth:focus {color: yellow; background-color: #FF0000AA; outline: none;}

div.select {background-color: #FFF; border-style: hidden; margin-bottom: 6px;}
div.theMonths {background-color: #A7C7E7 /* Pastel Blue */; font-weight: bold; padding-top: 8px; text-transform: uppercase;}
div.title {background-color: #A7C7E7 /* Pastel Blue */; font-weight: bold; padding-top: 8px; text-transform: uppercase; white-space: nowrap; overflow: hidden; border-style: dashed; /* top right bottom left */ }

textarea.agendaTask {
  height: 30px;
  width: 100%;
  text-align: left;
  font-size: min(10px, 2vw);
  font-family: Verdana, Tahoma;
  color: #005B9A;
  margin: 0px;
  margin-top: -8px;
  margin-bottom: -3px;
  padding: 3px;
  border: 0px;
  text-transform: capitalize;
  white-space: pre-wrap; 
  overflow-wrap: break-word;
  overflow: hidden;
  resize: none;
}

textarea.agendaTask:hover {outline: none !important; border-color: #719ECE; box-shadow: 0 0 20px #719ECE;}
textarea.agendaTask:active {outline: none !important; border-color: #719ECE; box-shadow: 0 0 20px #719ECE;}
textarea.agendaTask:focus {outline: none !important; border-color: #719ECE; box-shadow: 0 0 20px #719ECE;}


/* AGENDA FULL SEMESTER SETTINGS */
.grid-agenda-full {
  width: 98%;
  display: grid;
  grid-template-columns: auto 18% 18% 18% 18% 18%;
  grid-template-areas:

    'top top top top top top'
    'div div div div div div'

    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'

    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'

    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'

    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'

    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'
    'div div div div div div'

    'foot foot foot foot foot foot';
  gap: 0px;
  background-color: white;
  border: 2px solid navy;
  border-radius: 12px 12px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 3%;
  padding-left: 14px;
  padding-right: 16px;
}
.grid-agenda-full > div {font-size: min(14px, 2vw); text-align: center; font-family: Verdana, Tahoma; color: #1434A4; /* Egyptian Blue */ margin: 0px; padding: 0px; border: 0px dashed blue;}
.divFull {height: 40px; padding: 2px; padding-bottom: 1px; margin-left: -1px; margin-top: -1px; border: 1px dashed gray; border-style: dashed; /* top right bottom left */ }

#top-border {margin-top: 6px; border: 1px dashed gray;}
#recesoTop {background-color: #00FF0033; margin-top: 6px; border: 1px dashed gray;}
#notAllowed {background-color: #DDDDDDcc; cursor: not-allowed;}
#receso {background-color: #00FF0033;}
#feriado {background-color: #FF000033;}

textarea.agendaTaskFull {
  height: 48%;
  width: 100%;
  text-align: left;
  font-size: min(10px, 2vw);
  font-family: Verdana, Tahoma;
  background-color: transparent;
  color: #005B9A;
  border: 0px;
  margin: 0px;
  margin-bottom: -2px;
  text-transform: capitalize;
  white-space: pre-wrap; 
  overflow-wrap: break-word;
  overflow: hidden;
  resize: none;
}
textarea.agendaTaskFull:hover {outline: none !important; border-color: #719ECE; box-shadow: 0 0 20px #719ECE;}
textarea.agendaTaskFull:active {outline: none !important; border-color: #719ECE; box-shadow: 0 0 20px #719ECE;}
textarea.agendaTaskFull:focus {outline: none !important; border-color: #719ECE; box-shadow: 0 0 20px #719ECE;}

/* END END END ENDEND END */



/* TIMBOX SETTINGS */

.grid-timebox {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    'div schedule'
    'div schedule'
    'div schedule'
    'div schedule'
    'foot foot';
  gap: 18px;
}

.grid-timebox > div { background-color: lightyellow; border: 1px solid darkgray; border-radius: 6px; text-align: left; padding: 6px; }

input.timebox-inputs { width: 85%; border-width: 1px; border-radius: 6px; margin: 6px; padding: 6px; resize: none; }
input.timebox-schedule { width: 80%; border-width: 1px; border-radius: 6px; margin: 3px; padding: 6px; resize: none; }

.timebox-refresh {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 85%;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: green;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 12px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.timebox-refresh:hover, .timebox-refresh:focus {background-color: lightgreen;}

.timebox-download {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 85%;
  margin:0 auto;
  padding: 10px 10px;
  background-color: blue;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 12px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.timebox-download:hover, .timebox-download:focus { background-color: lightblue; }

.planner-link:link, .planner-link:visited {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: 10px 24px;
  background-color: #D44336;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 30px;
  line-height: 10px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.planner-link:hover, .planner-link:focus { background-color: red; }
.foot {display: none;}


/* GRADE SCALES SETTINGS */

.grid-container-seventy {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: gray;
  padding: 1px;
}

.grid-container-sixty {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: gray;
  padding: 1px;
}

.grid-notas {background-color: lightyellow; border: 1px solid gray; padding: 3px; text-align: center; border-radius: 0px;}
.grid-notas-blue {background-color: lightblue; border: 1px solid gray; padding: 3px; text-align: center; border-radius: 0px;}
.grid-notas-green {background-color: lightgreen; border: 1px solid gray; padding: 3px; text-align: center; border-radius: 0px;}
.grid-notas-pink {background-color: pink; border: 1px solid gray; padding: 3px; text-align: center; border-radius: 0px;}




/* INTEGRALES DIV SETTINGS */

.test-number { color: cornflowerblue; font-size: 16px; font-weight: bold; }

.slidebar { width: 92%; margin-left: 12px; outline: none; cursor: pointer; }

.double-container { display: flex; width: 98%; text-align: center; align-content: center; }
.test-left { flex: 5; padding: 6px; }
.test-right { flex: 5; padding: 6px; margin-right: 12px; }

input[type=number] {
  width: 85px;
  color: black;
  background: white;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid cornflowerblue;
  border-radius: 6px;
  cursor: copy;
  outline: none;
}

input[type=number].results {
  width: 100px;
  font-size: 16px;
  background: darkgray;
  cursor: not-allowed;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  input[type=number].integrales { padding-left: 3px; }
  input[type=number].results { padding-right: 3px; }
}


/* BUTTONS SETTINGS */

#getResults {
  width: 100px;
  font-size: 16px;
  background-color: darkred;
  border: 3px solid darkgray;
  border-radius: 4px 4px;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#getResults:hover { background-color: #C30028; color: white; }
#getResults:active { background-color: #FC0034; color: black; }

#clearGrades {
  width: 75px;
  font-size: 16px;
  background-color: darkgreen;
  border: 3px solid darkgray;
  border-radius: 4px 4px;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#clearGrades:hover { background-color: green; color: white; }
#clearGrades:active { background-color: #39FF14; color: black; }


/* ATTENDANCE SETTINGS */

.class-type { color: white; font-size: 16px; font-weight: bold; }
.class-percent { color: cornflowerblue; font-size: 16px; font-weight: bold; }
.result-text { color: white; font-size: 24px; }

input[type=number].attendance {
  width: auto;
  color: white;
  text-color: white;
  background: transparent;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  border: 0px solid transparent;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}


/* EXAM SETTINGS */

.triple-container { display: flex; width: 100%; text-align: center; align-content: center; }
.triple-left	{ flex: 1; padding: 6px; margin-left: 0px; }
.triple-center	{ flex: 1; padding: 6px; }
.triple-right	{ flex: 1; padding: 6px; margin-right: 12px; }

input[type=number].average {
  width: 100%;
  color: white;
  background: darkred;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid white;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}

input[type=number].exam {
  width: 100%;
  color: white;
  background: cornflowerblue;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid white;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}

input[type=number].calculation {
  width: 100%;
  color: white;
  background: gray;
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid white;
  border-radius: 6px;
  pointer-events: none;
  outline: none;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  input[type=number].average { padding-left: 0px; padding-right: 0px; }
  input[type=number].exam { padding-left: 0px; padding-right: 0px; }
  input[type=number].calculation { padding-left: 0px; padding-right: 0px; }
}


/* TESTS SETTINGS */

.test-percent { color: cornflowerblue; font-size: 16px; font-weight: bold; }


/* PROMEDIOS SETTINGS */

.promedios-container {
  display: flex;
  width: 96%;
  margin-left: 3px;
  margin-top: 12px;
  margin-bottom: 6px;
  padding-bottom: 12px;
  border-bottom: 2px solid darkgray;
  text-align: center;
  align-content: center;
}

.test-titles { position: absolute; padding-left: 6px; margin-top: -1px; color: lightgray; font-size: 14px; }

input[type=number].average-input {
  width: 85px;
  color: black;
  background: white;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid cornflowerblue;
  border-radius: 6px;
  cursor: copy;
  outline: none;
}

input[type=number].average-maths {
  width: 85px;
  color: black;
  background: darkgray;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 18px;
  border: 3px solid cornflowerblue;
  border-radius: 6px;
  cursor: not-allowed;
  outline: none;
}


/* COUNTDOWN SETTINGS */
.checkpoint	{color: lightblue;}
.countdown	{display: flex; margin: auto; width: 98%; text-align: center; border: 0px solid red; padding-left: 3px; padding-right: 3px; padding-top: 6px; }
.countdown div	{flex-basis: 200px; font-size: 32px; }
.clock		{display: flex; margin: auto; width: 98%; text-align: center; border: 0px solid red; padding-left: 3px; padding-right: 3px; padding-bottom: 6px; }
.clock div	{flex-basis: 200px; font-size: 10px; }
.startClassNumbers	{margin: 0px;}
.firstTestNumbers	{margin: 0px;}
.secondTestNumbers	{margin: 0px;}
.thirdTestNumbers	{margin: 0px;}
.specialExamNumbers	{margin: 0px;}
.lastDayNumbers		{margin: 0px;}


/* PROGRESS SETTINGS */
.progressArea {
 position: absolute;
 bottom: 12px; left: 10px;
 height: 18px; width: 40px; border: 1px;
 text-align: center; font-size: 10px; font-family: Verdana, Tahoma; color: red;
 resize: none; overflow: hidden;
 pointer-events: none;
 visibility: hidden;
 display: none;
}


/* JUNAEB TRACKER SETTINGS */
@font-face { font-family: 'CashRegister'; /*name to be used below*/ src: url('../fonts/HighDef.ttf'); /*URL to font*/ }

input.junaeb-compras {
 height: 44px; width: 60%;
 text-align: right; font-size: 22px; font-family: 'CashRegister'; letter-spacing: 0.2em;
 background-color: orange; color: white;
 border: 3px solid white; border-radius: 6px;
 margin-bottom: 3px; padding-right: 6px; spacing: 20px;
 cursor: text; }

input.junaeb-compras[type=number]::-webkit-inner-spin-button { margin-left: 6px; }

input.junaeb-saldo {
 height: 48px; width: 85%;
 text-align: right; font-size: 28px; font-family: 'CashRegister'; letter-spacing: 0.2em;
 background-color: green; color: white;
 border: 3px solid white; border-radius: 6px;
 margin-bottom: 3px; padding-right: 12px;
 cursor: not-allowed; }

span.money { position: relative; left: 28px; font-size: 24px; }
div.clearJunaeb { position: relative; top: -14px; text-align: right; margin-right: 10%; }

#moreButton {
 width: 40px; height: 26px;
 font-size: 12px; text-align: center; 
 background-color: green; color: white;
 border: 2px solid white; border-radius: 6px;
 cursor: pointer;
}
#moreButton:hover { background-color: orange; }

#lessButton {
 width: 40px; height: 26px;
 font-size: 12px; text-align: center;
 background-color: darkred; color: white;
 border: 2px solid white; border-radius: 6px;
 padding-bottom: 2px;
 cursor: pointer;
}
#lessButton:hover { background-color: orange; }

#resetJunaeb {
 height: 40px; width: 100px;
 background-color: darkred;
 text-align: center; font-size: 14px; color: white;
 border: 3px solid white; border-radius: 6px;
 cursor: pointer; }
#resetJunaeb:hover { background-color: green; }
#resetJunaeb:active { background-color: #39FF14; color: black; }


/* VOTE FLEX GRID */
/* VOTE FLEX GRID */
/* VOTE FLEX GRID */

@font-face { font-family: 'Pricedown'; /*name to be used below*/ src: url('../fonts/Pricedown.otf'); /*URL to font*/ }
div.desarrollo { position: relative; font-family: 'Pricedown'; color: darkred; text-align: center; font-size: 32px; transform: translate();}

.grid-voting {
  display: grid;
  grid-template-columns: auto auto 200px 12% 16%;
  grid-template-areas:
    "divMotion1 divMotion1 divMotion1 divMotion1 divMotion1"
    "divMotion2 divMotion2 divMotion2 divMotion2 divMotion2"
    "divMotion3 divMotion3 divMotion3 divMotion3 divMotion3"
    "divMotion4 divMotion4 divMotion4 divMotion4 divMotion4"
    "divMotion5 divMotion5 divMotion5 divMotion5 divMotion5"
    "divMotion6 divMotion6 divMotion6 divMotion6 divMotion6"
    ". divTotal divTotal divDelete  .";
  gap: 0px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
}

input.voteMotion {
 height: 40px; width: 42%;
 text-align: center; font-size: 12px; font-family: 'CashRegister'; letter-spacing: 0.2em;
 background-color: orange; color: white;
 border: 3px solid white; border-radius: 6px;
 text-transform: capitalize;
 margin: 1px;
 cursor: text;
}

input.votesCount {
 height: 40px; width: 15%;
 text-align: center; font-size: 12px; font-family: 'CashRegister';
 background-color: orange; color: white;
 border: 3px solid white; border-radius: 6px;
 margin: 1px; padding: 0px; padding-left: 3px;
 cursor: not-allowed;
}

input.votesCount[type=number]::-webkit-inner-spin-button { display: none;}

input.votesPlus {
 height: 40px; width: 40px;
 text-align: center; font-size: 14px;
 background-color: green; color: white;
 border: 3px solid white; border-radius: 6px;
 margin: 1px; padding-bottom: 5px;
 cursor: pointer;
}
input.votesPlus:hover { background-color: lightgreen; }
input.votesPlus:active { background-color: orange; }

input.votesLess {
 height: 40px; width: 40px;
 text-align: center; font-size: 14px;
 background-color: darkred; color: white;
 border: 3px solid white; border-radius: 6px;
 margin: 1px; padding-bottom: 5px;
 cursor: pointer;
}
input.votesLess:hover { background-color: pink; }
input.votesLess:active { background-color: orange; }

input.voteMotion:focus, input.votePlus:focus {outline: none !important; }

div.divTotalVotes { text-align: right; padding: 0px; margin-right: 22px; }

#divResult { margin-left: 34%; }
#totalVotes { width: 120px; margin-right: 64px; }

div.voteResult {
 display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 100%;
  grid-template-areas:
   "div div";
  gap: 6px;
 width: 75%;
 background-color: white; color: black;
 font-size: 10px; text-align: center; text-transform: capitalize;
 border: 3px solid orange; border-radius: 6px;
 margin-left: auto;
 margin-right: auto;
 transform: translate(1%);
}

div.voteSummary {
 position: relative;
 width: max-content;
 height: max-content;
 background-color: #FFFF0022;
 font-size: 12px; text-align: left; line-height: 2;
 border: 1px solid blue; border-radius: 3px;
 margin: 12px;
 padding: 12px;
 }

#myCanvas { height: 96%; width: 90%; }

@media screen and (max-width: 800px) {
 #divResult { margin-left: 35%; background-color: white; }
 #totalVotes { width: 100px; margin-right: 22px; }
 /* Results */
 div.voteResult { grid-template-columns: 100%; grid-template-rows: auto auto; grid-template-areas: "div" "div"; width: 95%; transform: translate(2%); }
 div.voteSummary { width: 92%; font-size: 12px; }
 #myCanvas { width: 90%; height: 95%; margin-left: auto; margin-right: auto; padding-left: 3px; }
}

div.voteShareButton { width: 200px; background-color: green; font-size: 14px; text-align: center; margin: auto; padding: 6px; padding-left: 8px; padding-right: 12px; margin-top: 12px; border: 3px solid white; border-radius: 6px; cursor: pointer; }

/* END VOTE FLEX GRID */
/* END VOTE FLEX GRID */
/* END VOTE FLEX GRID */



/* PARO TRACKER SETTINGS */

.paroTrackerBody {
 background-color: #151B54;
 background-image: linear-gradient(to bottom, black, #151B54, #36013F);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 500% 100%;
 margin-left: 12px;
 margin-right: 12px;
 border: 0px solid #000000FF;
 border-radius: 0px;
}

div.todoNormal { color: white; font-weight: bold; margin-top: 24px; margin-left: 12px; margin-bottom: 24px; }
div.enParo { color: red; font-weight: bold; margin-top: 24px; margin-left: 12px; margin-bottom: 24px; }
span.onStrike { font-size: 14px; color: white; margin: 0px; spacing: 0px; }

#fac-artsies { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }
#fac-sportis { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }
#fac-eduquis { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }
#fac-saludis { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }
#fac-sociats { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }
#fac-science { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }
#fac-humanis { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }
#fac-enginis { margin-bottom: 6px; padding: 0px; padding-left: 16px; cursor: pointer; background-color: green; }

.tracker-list { list-style-type: none; margin: 0px; spacing: 0px; text-indent: -28px; }

div.artsies { margin-left: 20px; padding: 6px; }
div.sportis { margin-left: 20px; padding: 6px; }
div.eduquis { margin-left: 20px; padding: 6px; }
div.saludis { margin-left: 20px; padding: 6px; }
div.sociats { margin-left: 20px; padding: 6px; }
div.science { margin-left: 20px; padding: 6px; }
div.sociats { margin-left: 20px; padding: 6px; }
div.humanis { margin-left: 20px; padding: 6px; }
div.enginis { margin-left: 20px; padding: 6px; }

div.strike-label-wrapper { display: flex; width: max-content; margin-left: auto; margin-right: auto; }
div.strike-label-bubbles { font-size: 12px; text-align: center; margin: 6px; padding: 3px; padding-left: 8px; padding-right: 12px; border: 1px solid white; border-radius: 3px; cursor: not-allowed;}

#strike-footer { width: 244px; text-align: center; margin-top: 12px; margin-left: auto; margin-right: auto; margin-bottom: 6px; padding: 12px; }

@media screen and (max-width: 800px) {
div.strike-label-wrapper { display: grid; }
#strike-footer { width: 85%;}
}


/* ENGLISH WORKSHOP BUTTON */
input.English { font-size: 18px; color: white; background-color: green; border: 2px solid white; border-radius: 6px; padding: 12px 20px 12px 12px; cursor: pointer; }
input.English:hover { color: yellow; background-color: #FF0000AA; outline: none; }


/* PRINT OR CONVERT TO PDF SETTINGS*/

@media print {
p {color: black;}
body {background-color: white; background: transparent;}
.main {position: absolute; width: 100%; background-color: white; background: transparent; top: 0; padding: 0px; border: 0px solid white; border-radius: 0px;}
.grid-item {display:none; }
.labels {background-color: #A7C7E7; /* Pastel Blue */; padding-left: 24px; padding-bottom: 12px; border: 1px solid #6495ED /* Cornflower Blue */; border-radius: 6px; margin-right: 8px; margin-bottom: 12px; }

/* SCHEDULE */
.grid-schedule {position: absolute; right: 1%; width: 100%; height: 96%; border: 0px; padding: 0px;}
.dropdown {display:none; visibility: hidden;}
div.blueDiv {max-height: fit-content; padding-top: 20px; margin-bottom: -28px; vertical-align: middle; background-color: #6495ED /* Cornflower Blue */;}
div.yellowDiv {background-color: #FFFF8F;}
.scheduleArea {min-height: fit-content; height: 100%; margin-top: 0px;-moz-margin-top: -1px; -moz-margin-bottom: -1px;}
.scheduleArea:focus {box-shadow: 0 0 0px #FFF;}
.scheduleArea:hover {box-shadow: 0 0 0px #FFF;}
.scheduleArea:focus {box-shadow: 0 0 0px #FFF;}
.foot {display: inline;}

/* AGENDA */
.grid-agenda {position: absolute; right: 2%; width: 100%; height: 98%; border: 0px; padding: 0px;}
textarea.agendaTask {height: 28px; margin-top: -6px; -moz-margin-top: -1px; -moz-margin-bottom: -1px;}
textarea.agendaTask:hover {border-color: #FFF; box-shadow: 0 0 0px #FFF;}
textarea.agendaTask:active {border-color: #FFF; box-shadow: 0 0 0px #FFF;}
textarea.agendaTask:focus {border-color: #FFF; box-shadow: 0 0 0px #FFF;}

/* AGENDA FULL */
.grid-agenda-full {position: absolute; top: -24px; left: -10px; width: 102%; border: 0px;}
textarea.agendaTaskFull {height: 46%; padding: 0px; margin-top: -14px; margin-bottom: 1px;}
textarea.agendaTaskFull:hover {border-color: #FFF; box-shadow: 0 0 0px #FFF;}
textarea.agendaTaskFull:active {border-color: #FFF; box-shadow: 0 0 0px #FFF;}
textarea.agendaTaskFull:focus {border-color: #FFF; box-shadow: 0 0 0px #FFF;}
.divFull {max-height: 35px; border: 1px solid darkgray; margin-top: -1px;}
#top-border {margin-top: 6px; border: 1px solid darkgray;}
#recesoTop {margin-top: 6px; border: 1px solid darkgray;}

/* CURRICULUM */
.grid-curriculum {border: 0px;}
.select {visibility: hidden; display: inherit; margin: -32px;}
.className:focus {box-shadow: 0 0 0px #FFF;}
.className:active {box-shadow: 0 0 0px #FFF;}
input[type=number].classGrade:focus {box-shadow: 0 0 0px #FFF;}
input[type=number].classGrade:active {box-shadow: 0 0 0px #FFF;}

/* TIMEBOX */
.grid-timebox {position: absolute; width: 96%; top: 105px; background-color: white;}

/* PLANNER */
button {display: none; visibility: hidden;}
.planner-link {display:none; visibility: hidden;}
.return {display:none; visibility: hidden;}
::placeholder {color: white; opacity: 0; /* Firefox */ }
::-ms-input-placeholder { color: white; /* Edge 12 -18 */}

}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
	input[type=number].average-input { width: 60px; padding-left: 0px; padding-right: 0px; }
	input[type=number].average-maths { width: 60px; padding-left: 0px; padding-right: 0px; }
}